name: tuneflow_music
description: A new Flutter project.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.0.0
  google_fonts: ^6.1.0
  lucide_icons: ^0.257.0
  cached_network_image: ^3.3.0
  # just_audio: ^0.9.36 # Uncomment for real audio

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  
  assets:
    - assets/images/
